*,html{

  color:#404345;
  text-align: center;
  font-family: 'Exo', sans-serif;
	margin:0;
	padding:0;

}
body{
    padding: 0;
    margin: auto;
}
header{
  color:#fff;
  font-size: 7em;
  padding:150px;
}

section {
	width:100%;
	margin:0 auto;
	height:800px;
}
a:link{text-decoration:none; color: #000;}
a:visited{color: #000;}


nav2{
  background-color: #6799FF;
  position: fixed;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 20px;
  right: 20px;
  opacity: 0.6;
}
nav2 a:link{
  color: #fff;
}
nav2 a:visited{
  color: #fff;
}
div.aboutme{
  padding-top: 30px;
  font-size: 2em;
}

.menu{
  padding-top: 100px;
  font-size: 5em;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #fff;
  font-size: 1em;
  font-family: 'PT Sans', Arial, sans-serif;
  position: fixed;
  border-bottom: 2px solid #fff;
    z-index: 10000;
}
.brand{
  float:left;
  padding-left: 15%;
  font-size: 2em;
}
  nav ul {
    float: right;
    padding-right: 15%;
    margin: 0 auto;
  }

  nav li {
    display: inline;
    float: left;
  }

  nav a {
    color: #fff;
    display: inline-block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    line-height: 90px;
    padding-top: 20px;
  }


  nav li:last-child a {
    border-right: 0;
  }

  nav a:hover, nav a:active {
    color: #6799FF;
  }
  a.nav-active {
      color: #6799FF;
  }
  nav p#trigger {
    display: none;
  }


  .page2 { background:#f4f7f9;}
  .page3 { background:#fff;}
  .page4 { background:#f4f7f9;}


.bxslider li {
	text-align: center;
}


#a5 ul{

  padding-top: 100px;
  padding-left: 225px;
}
#a5 li{
 display: block;
  float: left;
    padding: 20px;
    padding-bottom:0px;
    margin: 0px;
}
#a5 li img:hover{
    width:210px;
}

#a5 li img{
  width: 200px;
}

  @media screen and (max-width: 1000px) {

      .brand{
          padding-top: 0px;
          height: 80px;
      }
      .menu{
  padding-top: 100px;
  font-size: 3em;
}
      div.aboutme{
          font-size: 1em;
      }
     nav ul{
          padding-right: 0;
          width:100%;
         display: none;
      }
      nav li {
        display: block;
          float: none;
          background-color: #fff;
          border-bottom: 1px solid #ACE7FF;
          padding: 5px 0;
          line-height: 2em;
          height: 50px;
      }

        nav li a {   
        padding-top: 0px;
            height: 50px;
            float: right;
            padding-right: 15%;
      }

      nav p#trigger{
        display: block;
        position: absolute;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
        right: 20px;
        top: 10px;
      }
      nav a#trigger:after{
          content: "";
          position: absolute;
      }

      header{
        
        font-size: 2.5em;
          padding: 0px;
          padding-top:270px; 
      }

    #a5 {
      height: auto;
    }

      #a5 ul {
        width: 100%;
        display: block;
        height: auto;
        margin: 0;
          padding: 0;
      }

      #a5 li {
        width: 25%;
        float: left;
        margin: 0;
          padding: 0;
      }
      #a5 li img{
          width: 100px;
      }
      #a5 li img:hover{
       width:100px;
      }

      #a5 a {
        text-align: left;
        width: 50%;
        text-indent: 25px;
      }
  }
